.BannerChild{
    background-image:
linear-gradient(to bottom, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)),
url("/samples/food_festival/images/events/taste_new_zealand.jpg");
}

.initial{
    padding: 5%;
    display: flex;
    justify-content: center;
}

.try{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h3{
    text-align: center;
}

main{
    padding-bottom: 5%;
}

figure{
    margin: 0%;
    border: 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
    color: white;
}

img{
    border-radius: 50px;
}

span{
    padding: 2% 0 0 0;
    color:#dcaf3b;
    font-style: italic;
    text-align: center;
    font-size: 1.3rem;
}

.featured{
    transition: color 0.3s;
}

.featured:hover{
    color: white;
    text-decoration: underline;
}

button{
    text-align: center;
}


.dishes{
    padding: 5% 0% 5% 0%;
    display: flex;
    flex-direction: column;
}







