/* ********************** ANNE CSS *********************** */
.BannerChild {
    grid-area: BannerChild;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)),
    url(../images/volunteer/p5Banner.jpg);
    color: #FFFFFF;
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;


    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    font-size: 1rem;
    line-height: 2rem;
}

.positions p {
    width: 600px;
    padding: 30px;
}

.intro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

/* .intro, .subtitle {
    padding-left: 15%;
} */

.positions {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.wrap1 {
    display: flex;
    flex-direction: row;  
}


.wrap2 {
    display: flex;
    flex-direction: row;
}

.positions3 {
    flex-shrink: 2;
}

.wrap3 {
    display: flex;
    flex-direction: row;
}

/* .contactInfo{
    margin: 5%;
} */

.contactInfo p {
    flex-wrap: wrap;

    padding: 30px;
    background-color: aliceblue;
}

.contactInfo a {
    color: blue;
    text-decoration: none;
}

.contactInfo a:hover {
    color: red;
}

/* MEDIA QUERRY */

@media screen and (max-width: 1700px){
    .intro, .subtitle {
        padding-left: 10%;
    }
}

@media screen and (max-width: 1300px){
    .positions p {
        width: 300px;
        padding: 30px;
    }
    
}

@media screen and (max-width: 780px){

    .intro, .subtitle {
        padding: 20px;
    }

    .wrap1 {
        display: flex;
        flex-direction: column;
    }
    
    .wrap2 {
        display: flex;
        flex-direction: column;
    }
    
    .wrap3 {
        display: flex;
        flex-direction: column;
    }
    
}